.cards{
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.procduct-table{
    width: 100%;
    border: 2px solid #999;
    border-collapse: collapse;
    margin-top: 20px;


}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td img{
    width: 50px; /* Adjust size as needed */
    height: auto;
    border-radius: 5px;
}
